{{!< default}}
{{!-- The tag above means: insert everything in this file
into the {body} of the default.hbs template --}}

{{!-- The big featured header, it uses blog cover image as a BG if available --}}
<html>
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width">
    <meta name="description" content="Simplyfying website">
    <meta name="keywords" content="We deal, digital,design,ideas,technology">
    <title>Simplyfying</title>
    <link rel="stylesheet" href="./css/screen.css">
   </head>
<body>
  <div class="container">
  </div>
  <header>
      <div>
        <div class="my-one col-6"><h1>Simplyfyin<span class="g">g</span></h1></div>
        <div class="my-two col-6"><img src="https://cdn4.iconfinder.com/data/icons/wirecons-free-vector-icons/32/menu-alt-256.png" width="40px"/></div>
      </div>
 </header>
 <main id="site-main" class="site-main outer" role="main">
   <div class="inner">
          <div class="row">
            <div class="my-three col-8">
              <text class="wdi">We deal in,</text>
            </div>
            <div class="col-4"></div>
        </div>
        <div class="bo-txt row">
                 <div class="sc-vxr col-4">&nbsp;</div>
                 <div class="sc-vxr col-4">
                   <text class="dig">digital.</text>
                 </div>
                 <div class="sc-vxr col-4"></div>
        </div>
      </div>
  </div>
</main>
 <footer>
    <div class="col-12">
          <div><i class="fa fa-envelope-o" aria-hidden="true"></i></div>
        <div class="ff1 col-3">hi@ simplyfyin<span class="G">g</span>.com</div>
        <div class="ff2 col-6">Built in Los Angeles, California.<br>
                                 Copyright 2017 Simplyfying</div>
          <div><i class="fa fa-phone" aria-hidden="true"></i></div>
        <div class="ff3 col-3">phone:323825168</div>
   </div>
  </footer>

</body>
</html>
