body{
  background-color: #fbfbf5;
}

.my-two {
  text-align: center;
  color: #7F7483;
  position: relative;
  top: -70px;
}


/*----Header----*/
.my-one h1{
  color: #7F7483;
  font-family: open Sans,sans-serif;
  font-weight: lighter;
  padding-left: 6em;
  margin-top: 1px;
}

.inner {
  margin-top: calc(20% - 50px) !important;
  margin-bottom: 30em  !important;

}

.bo-txt {
  margin-top: 5em;
}

/*----site-inner-----*/
.wdi{
  font-size: 6em;
  color: #7F7483;
  font-family: sans-serif;
  padding-left: 0em;
  }

.dig{
  font-size: 5em;
  color: #FFCD00;
  padding-right: 0em;
}

/*-----Footer section------*/

.ff1 {
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;
}

.ff2 {
  text-align: center;
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;
}

.ff3 {
  text-align: right;
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;
  position: relative;
  top: -58px;
}

.g{
  color: #FFCD00;
  font-family: cursive;
  font-size: 1.1em;
}

.G{
  color: #FFCD00;
  font-family: cursive;
  font-family: 2em;
}



/*-----Media queries--for Iphone-----*/
@media only screen
and (min-width : 320px)
and (max-width : 568px){
.my-one h1{
  font-size: 3.7em;
  padding-left: 0.3em;
  min-height: 10px;
  margin-top: 0.5em;
  font-weight: lighter;
  }

  .inner {
  margin-top: calc(30% - 50px) !important;
  margin-bottom: 12em  !important;
  }

  .my-two{
  text-align: right;
  }

  .bo-txt{
  margin-top: 2em;
  }

  .wdi{
  font-size: 4.5em;
  line-height: 4em;
  padding-left: 0em;
    }

  #site-main{
  padding: 0em;
    }

  .dig{
  font-size: 4.5em;
  line-height: 0em;
  padding-left: 1em;
  position: relative;
  top: -45px;
  }

  .ff1{
  text-align: left;
  font-size: 1em;
    }

    .ff2{
  text-align: center;
  font-size: 1em;
      }

  .ff3{
  text-align: right;
  font-size: 1em;
  position: relative;
  top: -56px;
    }

  .g{
  color: #FFCD00;
  font-family: cursive;
  font-size: 1.1em;
    }

  .G{
  color: #FFCD00;
  font-family: cursive;
  font-family: 2em;
    }

}
/*media querie for ipad*/
@media only screen
and (min-width : 568px)
and (max-width : 768px){
  .my-one h1{
    font-size: 4.5em;
    padding-left: 0.4em;
    min-height: 10px;
    margin-top: 0em;
    line-height: 2em;
    }

  .my-two{
      text-align: right;
    }

  .wdi{
    font-size: 6.3em;
    text-align: left;
    line-height: 1em;
    padding-left: 0em;
      }

  #site-main{
    padding: 0em;
  }

  .dig{
    font-size: 5.5em;
    padding-left: 4em;
      }

  .ff1{
    text-align: left;
    font-size: 1.5em;
        }

  .ff2{
    text-align: center;
    font-size: 1.5em;
          }
  .ff3{
    text-align: right;
    font-size: 1.5em;
    position: relative;
    top: -60px;
          }

}
