body{
  background-color: #fbfbf5;
}

.my-two{
  text-align: right;
}


/*----Header----*/
.my-one h1{
  color: #7F7483;
  font-family: open Sans,sans-serif;
  font-weight: lighter;
  padding-left: 6em;
  margin-top: 1px;
}

.inner {
  margin-top: calc(20% - 50px) !important;
  margin-bottom: 30em  !important;

}

.bo-txt {
  margin-top: 5em;
}

/*----site-inner-----*/
.wdi{
  font-size: 6em;
  color: #7F7483;
  font-family: sans-serif;
  padding-left: 0em;
  }

.dig{
  font-size: 5em;
  color: #FFCD00;
  padding-right: 0em;
}

/*-----Footer section------*/

.ff1 {
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;
}

.ff2 {
  text-align: center;
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;
}

.ff3 {
  text-align: center;
  color: #7F7483;
  font-family: open sans, sans-serif;
  font-size: 1.3em;

}

/*-----Media queries--for phone-----*/
@media only screen
and (min-width : 320px)
and (max-width : 568px){
.my-one h1{
  font-size: 3.1em;
  padding-left: 0.4em;
  min-height: 10px;
  margin-top: 0.5em;
  font-weight: lighter;
  }

  .my-two{
    padding: right;
  }
  .bo-txt{
    margin-top: 2em;
  }
  .wdi{
    font-size: 3em;
    line-height: 4em;
    }
  .dig{
      font-size: 3em;
      line-height: 0em;
      padding-left: 3em;
  }

  .ff1{
     text-align: left;
     font-size: 1em;
    }

    .ff2{
       text-align: center;
       font-size: 1em;
      }

  .ff3{
       text-align: right;
       font-size: 1em;
    }
  img{
         padding-left: 2em;
      }
}


/*-----media queries for ipad-----*/

@media only screen
and (min-width : 568px)
and (max-width : 768px){
  .my-one h1{
    font-size: 4.3em;
    padding-left: 0em;
    min-height: 10px;
    margin-top: 0.5em;
    font-weight: lighter;
    }
    .wdi{
      font-size: 5em;
      line-height: 4em;
       }

  .dig{
        font-size: 5em;
        line-height: 0.5em;
        padding-left: 4.1em;
    }

  .ff1{
       text-align: left;
       font-size: 1.5em;
      }

  .ff2{
      text-align: center;
      font-size: 1.5em;
        }
  .ff3{
       text-align: right;
       font-size: 1.5em;
      }
  .phone{
        padding-left: 2em;;
      }
  img{
       padding-left: 1em;
    }
}

/*-----media queries for ipad-pro-----*/

@media only screen
and (min-width : 1024px)
and (max-width : 1366px){
  .my-one h1{
    font-size: 13em;
    padding-left: 0em;
    min-height: 10px;
    margin-top: 0.5em;
    font-weight: lighter;
    }
  .wdi{
    font-size: 16em;
    line-height: 4em;
     }
  .dig{
    font-size: 13em;
    padding-left: 0.5em;
    line-height: 0em;
      }
  .ff1{
    text-align: left;
    font-size: 3.5em;
        }
  .ff2{
    text-align: center;
    font-size: 2.5em;
        }
  .ff3{
    font-size: 3.5em;
    text-align: right;
        }
}
